@import './burger';
@import './search';

.header {
	background-color: $Black;
	padding: 64px 0 32px 0;

	@media (max-width:($media-1024 + 'px')) {
		padding: 16px 0 16px 0;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		position: relative;

		@media (max-width: ($media-1024 + 'px')) {
			align-items: center;

		}
	}

	&__logo {
		.img-svg {
			width: 166px;
			height: 84px;

			@media (max-width: ($media-1024 + 'px')) {
				width: 115px;
				height: 57px;
			}
		}
	}

	&__search {
		margin-bottom: 24px;
		margin-left: auto;
		max-width: 100px;
	}

	&__menu {
		padding-bottom: 11px;
	}

	&__burger {
		display: block;

		@media (min-width: ($media-1024 + 'px')) {
			display: none;
		}
	}
}


.menu {
	&__body {
		@media (min-width: ($media-1024 + 'px')) {
			display: block;
		}
	}

	&__list {
		display: flex;
	}

	&__item {
		font-weight: 700;
		font-size: 20px;
		line-height: calc(21 / 20 * 100%);
		color: $DarkWhite;

		&:not(:last-child) {
			margin-right: 62px;
		}

	}

	&__link {
		color: inherit;
		position: relative;
		padding-bottom: 8px;
		transition: all 1s ease;

		&::after {
			content: '';
			transition: all 0.3s ease;
			position: absolute;
			height: 3px;
			bottom: 0;
			left: 0;
			width: 0%;
			background-color: $DarkWhite;

		}

		&:hover {
			&::after {
				width: 100%;
			}
		}
	}

	@media(max-width: ($media-1024 + 'px')) {
		&__body {
			padding: 40px;
			width: 100%;
			height: 100%;
			//overflow: hidden;
			position: fixed;
			top: 0;
			right: -100%;

			background: $Black;
			transition: all 0.5s ease 0s;
			z-index: 2;

			&.active {
				right: 0;
			}
		}

		&__list {
			flex-direction: column;
		}

		&__item {
			font-size: 40px;

			&:not(:last-child) {
				margin-bottom: 34px;
			}
		}
	}
}