.cart-exhibitions {
	height: 100%;
	cursor: pointer;

	position: relative;
	transition: all 0.5s ease;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	&__flex {
		flex: 1;
		transition: flex 0.5s ease;
	}
	&__info {
		flex: 0;
		max-height: fit-content;
		padding: 16px;
		background: rgba(21, 26, 19, 0.61);
		color: $DarkWhite;
		margin: 0 24px 24px 24px;
		transition: all 0.5s ease;
		@media (max-width: (860 + 'px')) {
			padding: 4px;
			margin: 0;
		}
	}

	&__online {
		font-family: $Zilla;
		font-weight: 400;
		font-size: 20px;
		line-height: calc(24 / 20 * 100%);
		margin-bottom: 8px;

		@media (max-width: (860 + 'px')) {
			font-size: 12px;
		}
	}

	&__title {
		font-family: $Bebas;
		font-weight: 400;
		font-size: 35px;
		line-height: calc(42 / 35 * 100%);

		@media (max-width: (860 + 'px')) {
			font-size: 15px;

		}
	}

	&__date {
		font-size: 20px;
		line-height: calc(21 / 20 * 100%);
		margin-bottom: 16px;

		@media (max-width: (860 + 'px')) {
			font-size: 12px;
		}
	}

	&__about {
		font-size: 16px;
		line-height: calc(17 / 16 * 100%);

		@media (max-width: (860 + 'px')) {
			display: none;
		}
	}

	&:hover {
		
		.cart-exhibitions {
			
		}
		.hovered {
			flex: 0.001;
		}
		.cart-exhibitions__info {
			flex: auto;
			margin: 0;
			padding: 16px 40px 40px 40px;
		}
	}

	@media (max-width: 860px) {
		&:hover {
			.cart-exhibitions__info {
				padding: 4px;
			}
		}
	}
}
