//Calendar 
@import './animation-calendar.scss';

.calendar {	
	background-color: $DarkWhite;
	padding: 85.5px 61px 110px 61px;
	
	&__container {
		max-width: 1088px;
		margin: 0 auto;
		overflow: hidden;
		height: 220px;
		padding-top: 10px;
	}

	&__list {
		max-width: 1088px;
		display: flex;
		justify-content: center;
		position: relative;
	}

	&__item {
		padding: 0 16px 0 16px;
		min-width: 40px;
		animation-fill-mode: forwards;

		&:hover {
			.calendar__date {
				opacity: 1;
			}

			.calendar__line {
				transform: scale(1, 1.1);
			}
		}
	}

	&__item .active-calendar-line {
		min-width: 48px;
		transform: none;
	}

	.active-calendar-line &__item {
		transform: none;
	}

	//black stick
	&__line {
		margin: 0 auto;
		background-color: #000;
		width: 8px;
		height: 155px;
		cursor: pointer;
	}

	//center stick
	.active-calendar-line &__line {
		width: 16px;

		&:hover {
			transform: none;
		}
	}

	&__months {
		display: flex;
		justify-content: space-between;
		margin: 0 40px 0 40px;
		
		@media (max-width: 1300px) {
			margin: 0 0 0 0;
			margin-top: -30px;
		}
		margin-top: -30px;
	}

	&__month {
		font-size: 20px;
	}

	//circle date
	&__date {
		position: absolute;
		margin-top: 13.5px;
		font-size: 20px;
		transform: translate(-40%, );

		display: flex;
		color: #fff;
		align-items: center;
		justify-content: center;
		background-color: #B1B1B1;
		border-radius: 50%;
		width: 40px;
		height: 40px;

		opacity: 0;
		transition: opacity 0.3s ease 0s;

		pointer-events: none;
	}

	//center circle
	.active-calendar-line &__date {
		opacity: 1;
		transform: translate(-30%, );
		background-color: #000;
	}
}

.active-calendar-line.calendar__item {
	min-width: 48px;
	&:hover {

		.calendar__line {
			transform: none;
		}
	}
}

.animation {
	transition: all 0.5s ease 0s;
}