$LightWhite: #FFF;
$DarkWhite: #F1F1F1;
$Gray: #B1B1B1;
$LightGrey: #E2E2E2;
$DarkGrey: #7D7D7D;
$Black: #151A13;
$DarkGreen: #007C67;
$LightGreen: #66B0A4;
$Red: #FF0E0D;
$LightRed: #FF6E6E;

//fonts
$Inconsolata: 'Inconsolata', monospace;
$RedHat: 'Red Hat Text', sans-serif;
$Bebas: 'Bebas Neue', cursive;
$Zilla: 'Zilla Slab', serif;
$Roboto: 'Roboto', sans-serif;

//media
$media-1024: 1023;
$media-768: 768;
$media-533: 533;
$media-1200: 1201;